* {
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, gray, blue);
}

#content {
    border-radius: 30px;
    background: rgb(210, 210, 210);
    width: 400px;
    margin: auto;
    text-align: center;
}
#eightball{
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 10px;
    border-radius:100%;
    background-color: black;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
#eightballText {
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 100px;
    border-radius:100%;
    background: rgb(74, 88, 215);
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

#answer {
    font-size: 25px;
}